html {
    overflow: hidden;
    
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #5d8664 ;
}

#log {
    background: #e6d9bc;
    padding: 0.5em;
    position: absolute;
    inset: 0.5em 0.5em 3.5em 0.5em;
    overflow: auto;
}
.message {
    background: white;
    margin-top: 4px;
    border: 2px solid grey;
}
.message > .user {
    font-weight: bold;
}

#form {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    width: 100%;
}
#form > #msg {
    background: white;
    height: 2em
    width: 90%;
    overflow: hidden;
    border-bottom: solid;
}
/* #form :hover { */
/* } */
/* #form :focus { */
/* } */
